.button {
    height: 40px;
}

.my-form {
    margin-left: 10px;
    margin-right: 10px;
}

.create-button {
    margin-top: -5px;
}

.banner-text {
    color: #ffffff;
}

.banner-div {
    background-color: #494848;
    border-radius: 20px;
}

.body-div {
    background-color: #333333;
    min-height: 100vh;
}

.green-button {
    color: #ffffff !important;
    background-color: #49c779 !important;
}

.green-button:hover {
    background-color: #38955c !important;
}
