.button {
    height: 40px;
}

.loading {
    width: 300px;
    height: 300px;
}

.my-form {
    margin-left: 10px;
    margin-right: 10px;
}

.create-button {
    margin-top: -5px;
}

.banner-text {
    color: #ffffff;
}

.banner-div {
    background-color: #494848;
    border-radius: 20px;
}

.body-div {
    background-color: #333333;
    min-height: 100vh;
}

.green-button {
    color: #ffffff !important;
    background-color: #49c779 !important;
}

.green-button:hover {
    background-color: #38955c !important;
}

.flex-col-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .flex-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-col-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logout {
        margin-left: 18px;
        margin-bottom: 15px;
    }
    .export {
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .my-form {
        margin-bottom: 20px;
    }
}
